<div class="toolbar">
	<h1 id="pageTitle">
		Edit <%=@post.url%>
	</h1>
</div>

<form title="Edit Post" 
	  class="panel" 
	  id="post_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@post.object%>"/>
		
		  <div class="row">
			  <label>Url: </label>
			  <input type="text" name="post[url]" value="<%=@post.url%>"/>
		  </div>
		
		  <div class="row">
			  <label>Title: </label>
			  <input type="text" name="post[title]" value="<%=@post.title%>"/>
		  </div>
		
		  <div class="row">
			  <label>Published: </label>
			  <input type="text" name="post[published]" value="<%=@post.published%>"/>
		  </div>
		
		  <div class="row">
			  <label>Summary: </label>
			  <input type="text" name="post[summary]" value="<%=@post.summary%>"/>
		  </div>
		
		  <div class="row">
			  <label>Post type: </label>
			  <input type="text" name="post[post_type]" value="<%=@post.post_type%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @post.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>