<div class="toolbar">
	<h1 id="pageTitle">
		Edit <%=@venue.city%>
	</h1>
</div>

<form title="Edit Venue" 
	  class="panel" 
	  id="venue_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@venue.object%>"/>
		
		  <div class="row">
			  <label>City: </label>
			  <input type="text" name="venue[city]" value="<%=@venue.city%>"/>
		  </div>
		
		  <div class="row">
			  <label>Lat: </label>
			  <input type="text" name="venue[lat]" value="<%=@venue.lat%>"/>
		  </div>
		
		  <div class="row">
			  <label>Lng: </label>
			  <input type="text" name="venue[lng]" value="<%=@venue.lng%>"/>
		  </div>
		
		  <div class="row">
			  <label>Name: </label>
			  <input type="text" name="venue[name]" value="<%=@venue.name%>"/>
		  </div>
		
		  <div class="row">
			  <label>Pt: </label>
			  <input type="text" name="venue[pt_id]" value="<%=@venue.pt_id%>"/>
		  </div>
		
		  <div class="row">
			  <label>State: </label>
			  <input type="text" name="venue[state]" value="<%=@venue.state%>"/>
		  </div>
		
		  <div class="row">
			  <label>Created at: </label>
			  <input type="text" name="venue[created_at]" value="<%=@venue.created_at%>"/>
		  </div>
		
		  <div class="row">
			  <label>Updated at: </label>
			  <input type="text" name="venue[updated_at]" value="<%=@venue.updated_at%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @venue.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>