<div class="toolbar">
  <a id="backButton" class="button" href="#" onClick='history.go(-1);return false;' target="_self">Back</a>
	<h1 id="pageTitle">
		<%= @venue.name %>
	</h1>
</div>

<div class="panel" selected="true">

<table class="grid">
  <tr>
	  <td class="gridleft">Address:</td>
    <td class="gridright">
      <a href="/app/Venue/<%= @venue.object %>/map">
        <%= venue_address(@venue) %>
      </a>
    </td>
  </tr>
  <% if @venue.phone %>
    <tr>
      <td class="gridleft">Phone:</td>
      <td class="gridright"><%= @venue.phone %></td>
    </tr>
  <% end %>

  <% if @venue.website %>
    <tr>
      <td class="gridleft">Website:</td>
      <td class="gridright"><a href="<%= @venue.webite %>"><%= @venue.website %></a></td>
    </tr>
  <% end %>
</table>