<div id="venue" class="plastic current">
  <div class="toolbar">
    <a class="back">Back</a>
	  <h1 id="pageTitle"><%= @venue.name %></h1>
  </div>

  <ul class="rounded">
    <li><%= venue_address(@venue) %></li>
    <% if @venue.full_address %>
      <li><a href="/app/Venue/<%= @venue.object %>/map">Map</a></li>
    <% end %>
    <% if @venue.phone %>
      <li><%= @venue.phone %></li>
    <% end %>
    <% if @venue.website %>
      <li><a href="<%= @venue.webite %>"><%= @venue.website %></a></li>
    <% end %>
  </ul>
  <h2><%= @venue.shows.count %> Shows Played Here</h2>
  <ul class="rounded">
    <% @venue.shows.each do |show| %>
      <li><a href="/app/Show/<%= show.object %>"><%= display_show(show) %></a></li>
    <% end %>
  </ul>
</div>