<div class="toolbar">
	<h1 id="pageTitle">
		Edit <%=@song.name%>
	</h1>
</div>

<form title="Edit Song" 
	  class="panel" 
	  id="song_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@song.object%>"/>
		
		  <div class="row">
			  <label>Name: </label>
			  <input type="text" name="song[name]" value="<%=@song.name%>"/>
		  </div>
		
		  <div class="row">
			  <label>Pt: </label>
			  <input type="text" name="song[pt_id]" value="<%=@song.pt_id%>"/>
		  </div>
		
		  <div class="row">
			  <label>Pt nickname: </label>
			  <input type="text" name="song[pt_nickname]" value="<%=@song.pt_nickname%>"/>
		  </div>
		
		  <div class="row">
			  <label>Author: </label>
			  <input type="text" name="song[author]" value="<%=@song.author%>"/>
		  </div>
		
		  <div class="row">
			  <label>Estimated duration: </label>
			  <input type="text" name="song[estimated_duration]" value="<%=@song.estimated_duration%>"/>
		  </div>
		
		  <div class="row">
			  <label>Active: </label>
			  <input type="text" name="song[active]" value="<%=@song.active%>"/>
		  </div>
		
		  <div class="row">
			  <label>Original: </label>
			  <input type="text" name="song[original]" value="<%=@song.original%>"/>
		  </div>
		
		  <div class="row">
			  <label>Band rank: </label>
			  <input type="text" name="song[band_rank]" value="<%=@song.band_rank%>"/>
		  </div>
		
		  <div class="row">
			  <label>Fan rank: </label>
			  <input type="text" name="song[fan_rank]" value="<%=@song.fan_rank%>"/>
		  </div>
		
		  <div class="row">
			  <label>Created at: </label>
			  <input type="text" name="song[created_at]" value="<%=@song.created_at%>"/>
		  </div>
		
		  <div class="row">
			  <label>Updated at: </label>
			  <input type="text" name="song[updated_at]" value="<%=@song.updated_at%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @song.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>