<div class="toolbar">
	<h1 id="pageTitle">
		Edit <%=@tour.name%>
	</h1>
</div>

<form title="Edit Tour" 
	  class="panel" 
	  id="tour_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@tour.object%>"/>
		
		  <div class="row">
			  <label>Name: </label>
			  <input type="text" name="tour[name]" value="<%=@tour.name%>"/>
		  </div>
		
		  <div class="row">
			  <label>Pt: </label>
			  <input type="text" name="tour[pt_id]" value="<%=@tour.pt_id%>"/>
		  </div>
		
		  <div class="row">
			  <label>Created at: </label>
			  <input type="text" name="tour[created_at]" value="<%=@tour.created_at%>"/>
		  </div>
		
		  <div class="row">
			  <label>Updated at: </label>
			  <input type="text" name="tour[updated_at]" value="<%=@tour.updated_at%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @tour.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>