<div class="toolbar">
	<h1 id="pageTitle">
		Edit <%=@photo_album.credit%>
	</h1>
</div>

<form title="Edit PhotoAlbum" 
	  class="panel" 
	  id="photo_album_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@photo_album.object%>"/>
		
		  <div class="row">
			  <label>Credit: </label>
			  <input type="text" name="photo_album[credit]" value="<%=@photo_album.credit%>"/>
		  </div>
		
		  <div class="row">
			  <label>Date: </label>
			  <input type="text" name="photo_album[date]" value="<%=@photo_album.date%>"/>
		  </div>
		
		  <div class="row">
			  <label>Photo: </label>
			  <input type="text" name="photo_album[photo]" value="<%=@photo_album.photo%>"/>
		  </div>
		
		  <div class="row">
			  <label>Photos json: </label>
			  <input type="text" name="photo_album[photos_json]" value="<%=@photo_album.photos_json%>"/>
		  </div>
		
		  <div class="row">
			  <label>Show: </label>
			  <input type="text" name="photo_album[show_id]" value="<%=@photo_album.show_id%>"/>
		  </div>
		
		  <div class="row">
			  <label>Thumbnail: </label>
			  <input type="text" name="photo_album[thumbnail]" value="<%=@photo_album.thumbnail%>"/>
		  </div>
		
		  <div class="row">
			  <label>Title: </label>
			  <input type="text" name="photo_album[title]" value="<%=@photo_album.title%>"/>
		  </div>
		
		  <div class="row">
			  <label>Venue: </label>
			  <input type="text" name="photo_album[venue_id]" value="<%=@photo_album.venue_id%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @photo_album.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>